.titulo {
  font-size: 30px;
  border-left: 5px #003366 solid;
  padding-left: 5px;
  margin: 10px;
  font-weight: bold;
}

.tela {
  display: flex;
  background-color: #f4f6f9;
}

.componente {
  width: 100%;
}

.container_tabela {
  width: 80%;
  background-color: #ffffff;
  padding: 10px 5px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ipt-field {
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #6a5acd;
  outline: none;
  background: #fff;
}
.ipt-field:focus {
  border-color: #2f12d1;
}

input.erro, select.erro {
  border-color: #ff0000;
}

.sct-field {
  width: 100%;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #6a5acd;
  background: #fff;
  appearance: none;
  outline: none;
  cursor: pointer;
}
/* Estilos de botões */
.btn-primary {
  background-color: #6a5acd;
  color: #ffffff;
  border-radius: 10px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
